<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

<head>
  {{ block "load_paginator" . }}{{ end }}
  {{ partial "meta.html" . }}
  {{ partial "title.html" . }}
  {{ partial "link.html" . }}
  {{ partial "load_site_assets.html" . }}
  {{ block "load_page_assets" . }}
    {{ with .Content }}{{ end }}
  {{ end }}
  {{ partial "assets.html" . }}

  <script defer data-domain="nostick.fr" src="https://plausible.io/js/script.js"></script>

<meta name="apple-mobile-web-app-title" content="Nostick">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon_webapp.png">




</head>
<body>
  {{ partialCached "banner.html" . }}
  <main>
    <div class="u-wrapper">
      <div class="u-padding">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </main>
  {{ partialCached "footer.html" . }}
  
  {{- partial "scripts.html" . -}}

  <script>
document.addEventListener("click", function(event) {
  var target = event.target.closest("a");
  if (!target) return;

  var href = target.getAttribute("href");
  
  if (href && href.startsWith("/")) {
    event.preventDefault();
    window.location.href = href;
  } else if (href && (href.startsWith("http://") || href.startsWith("https://"))) {
    event.preventDefault();
    window.open(href, '_blank');
  }
});
</script>

</body>

</html>
