<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

<head>
  {{ block "load_paginator" . }}{{ end }}
  {{ partial "meta.html" . }}
  {{ partial "title.html" . }}
  {{ partial "link.html" . }}
  {{ partial "load_site_assets.html" . }}
  {{ block "load_page_assets" . }}
    {{ with .Content }}{{ end }}
  {{ end }}
  {{ partial "assets.html" . }}

  <script defer data-domain="nostick.fr" src="https://plausible.io/js/script.js"></script>

  <meta name="apple-mobile-web-app-title" content="Nostick">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon_webapp.png">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Description | default .Summary }}">
  <meta property="og:image" content="{{ .Params.image | absURL }}">
  <meta property="og:url" content="{{ .Permalink }}">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Description | default .Summary }}">
  <meta name="twitter:image" content="{{ .Params.image | absURL }}">

  <script defer data-domain="nostick.fr" src="https://plausible.io/js/script.js"></script>

  <!-- Inclusion conditionnelle du CSS mobile -->
  {{ with .File }}
    {{ if eq .BaseFileName "mobile_home" }}
      <link rel="stylesheet" href="{{ "css/mobile.css" | relURL }}">
    {{ end }}
  {{ end }}

</head>
<body>

  {{ partialCached "banner.html" . }}

  <main>
    <div class="u-wrapper">
      <div class="u-padding">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </main>

  {{ partialCached "footer.html" . }}
  
  <!-- Inclusion du script toggleView.js -->
  <script src="{{ "js/toggleView.js" | relURL }}"></script>
  
</body>

</html>
