{{ define "main" }}

<script>
    function redirectMobile() {
        if (window.innerWidth <= 768) {
            window.location.href = "/mobile/"; // Mise à jour du lien de redirection
        }
    }

    window.onload = redirectMobile;
    window.onresize = redirectMobile;
</script>

<div class="main-container">
    <!-- Intégration des vignettes -->
    {{ partial "vignettes.html" . }}
    <div class="two-column-layout">
        <!-- Colonne principale -->
        <div class="main-column">

            <div class="tag-container2">
                <div class="footer-tags">
                    {{ range .Site.Taxonomies.tags }}
                    <a class="footer-tags-item u-clickable" href="{{ .Page.Permalink }}" rel="tag">{{ .Page.Title }}</a>
                    {{ end }}
                </div>
            </div>

            <!-- Liste complète des articles, y compris ceux de type 'telex' et 'breaking' -->
            {{ $nonTelex := where .Site.RegularPages "Type" "!=" "telex" }}
            {{ $nonBreaking := where $nonTelex "Type" "!=" "breaking" }}
            {{ $telex := where .Site.RegularPages "Type" "telex" }}
            {{ $breaking := where .Site.RegularPages "Type" "breaking" }}
            {{ $allPages := union $nonBreaking $telex }}
            {{ $allPages := union $allPages $breaking }}
            {{ $pag := .Paginate $allPages }}
            {{ range $index, $page := $pag.Pages }}
            {{ $pageDate := $page.PublishDate | default $page.Date }}
            {{ if ge $pageDate.Unix 1672531200 }}
            <article class="{{ if eq $page.Type "telex" }}telex-article-item{{ else if eq $page.Type "breaking" }}breaking-article-item{{ else }}home-article-item{{ end }}">
                {{ if eq $page.Type "telex" }}
                <div class="telex-article-details">
                    <img src="{{ printf "articles/vignettes/persos/perso%d.png" (add (mod $index 7) 1) | relURL }}" class="telex-article-perso" alt="Personnage">
                    <div class="telex-article-content">
                        <a href="{{ $page.Permalink }}">
                            <p class="telex-article-summary">
                                <strong>{{ .Title }}</strong>
                                <span class="telex-article-date">■ {{ .Date.Format "02/01" }} – {{ partial "cleanSummary.html" . }}</span>
                            </p>
                        </a>
                    </div>
                </div>
                {{ else if eq $page.Type "breaking" }}
<article class="breaking-article-item">
    <img src="/breaking.png" class="breaking-article-image" alt="Breaking News">
    <div class="breaking-article-details">
        <div class="breaking-article-content">{{ .Content }}</div>
    </div>
</article>


                {{ else }}
                <a href="{{ $page.Permalink }}" class="home-article-link">
                    <div class="home-article-details">
                        <div class="home-article-text">
                            <h2 class="home-article-title">{{ $page.Title }}</h2>
                            <p class="home-article-date">
                                {{ with $page.PublishDate | default nil }}
                                <time class="date" datetime="{{ time.Format "2006-01-02T15:04:05Z07:00" . }}">
                                {{- time.Format "02 January" . -}}
                                </time>
                                {{ end }} 
                                • {{ $page.Params.author }}
                            </p>
                            <p class="home-article-summary">{{ partial "cleanSummary.html" $page }}</p>
                        </div>
                        <div class="home-article-image">
                            <img src="{{ $page.Params.image }}" alt="{{ $page.Title }}">
                        </div>
                    </div>
                </a>
                {{ end }}
            </article>
            {{ end }}
            {{ end }}

            <!-- Pagination -->
            {{ if gt $pag.TotalPages 1 }}
            <nav class="pagination">
                <ul>
                    {{ if $pag.HasPrev }}
                    <li><a href="{{ $pag.Prev.URL }}">&#171; Précédent</a></li>
                    {{ end }}
                    {{ range $pag.Pagers }}
                    <li><a href="{{ .URL }}" class="{{ if eq .URL $pag.URL }}current{{ end }}">{{ .PageNumber }}</a></li>
                    {{ end }}
                    {{ if $pag.HasNext }}
                    <li><a href="{{ $pag.Next.URL }}">Suivant &#187;</a></li>
                    {{ end }}
                </ul>
            </nav>
            {{ end }}
            <!-- Pied de page -->
            <footer>
            </footer>
        </div>
        <!-- Colonne secondaire -->
        <div class="sidebar-column">
            <!-- Pub infolettre -->
            {{ partial "pub-infolettre.html" . }}
            {{ partial "calendrier.html" . }} <!-- Intégration du partial telex -->
            {{ partial "xxl.html" . }}
            {{ partial "jouons.html" . }}
        </div>
    </div>
</div>

<!-- Inclusion du fichier JavaScript pour la pagination -->
{{ $paginationJS := resources.Get "js/pagination.js" | minify | fingerprint }}
<script src="{{ $paginationJS.Permalink }}"></script>
{{ end }}
