{{ define "main" }}
<script>
    function handleViewToggle() {
        var isMobile = window.matchMedia("(max-width: 768px)").matches;
        var desktopView = document.getElementById("desktop-view");
        var mobileView = document.getElementById("mobile-view");

        if (isMobile) {
            desktopView.style.display = "none";
            mobileView.style.display = "block";
        } else {
            desktopView.style.display = "block";
            mobileView.style.display = "none";
        }
    }

    window.addEventListener('resize', handleViewToggle);
    window.addEventListener('DOMContentLoaded', handleViewToggle);
</script>
<div id="desktop-view" class="view">
    {{ if in .Params.tags "Actu" }}
        <!-- Code pour les articles avec le tag 'Actu' -->
        <div class="main-container">
            <div class="two-column-layout">
                <!-- Colonne principale -->
                <div class="main-column">
                    <article class="full-article">
                        <header class="article-header">
                            <h1>{{ .Title }}</h1>
                        </header>
                        <footer class="article-footer">
                            <div class="article-meta">
                                <div class="publication-info">
                                    <div class="tags">
                                        {{ range .Params.tags }}
                                        <a href="/tags/{{ . | urlize }}" class="footer-tags-item">{{ . }}</a>
                                        {{ end }}
                                       <div class="publication-details">
                                            {{ if eq .Params.author "Félix" }}
                                                <img src="/felix.png" alt="Félix" class="author-profile-picture">
                                            {{ else if eq .Params.author "Mickael" }}
                                                <img src="/mickael.png" alt="Mickael" class="author-profile-picture">
                                            {{ end }}
                                            Publié par {{ .Params.author }} le <time class="date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | dateFormat "02 January 2006" }}</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <div class="article-content">
                            {{ .Content }}
                        </div>
                    </article>
                    <!-- Boutons Précédent et Suivant -->
                    <div class="bouton-navigation-single">
                        {{ if .NextInSection }}
                        <div class="navigation-next">
                            <a href="{{ .NextInSection.RelPermalink }}" class="navigation-button">Suivant</a>
                            <a href="{{ .NextInSection.RelPermalink }}" class="title-next">{{ .NextInSection.Title }}</a>
                        </div>
                        {{ else }}
                        <div class="navigation-placeholder"></div>
                        {{ end }}
                        {{ if .PrevInSection }}
                        <div class="navigation-prev" style="text-align: right;">
                            <a href="{{ .PrevInSection.RelPermalink }}" class="navigation-button">Précédent</a>
                            <a href="{{ .PrevInSection.RelPermalink }}" class="title-previous">{{ .PrevInSection.Title }}</a>
                        </div>
                        {{ else }}
                        <div class="navigation-placeholder"></div>
                        {{ end }}
                    </div>
                    <!-- Fin Boutons Précédent et Suivant -->
                </div>
                <!-- Colonne secondaire -->
                <div class="sidebar-column">
                    {{ partial "pub-infolettre.html" . }}
                    {{ partial "xxl.html" . }}
                    {{ partial "jouons.html" . }}
                </div>
            </div>
        </div>
    {{ else }}
        <!-- Code pour les autres articles -->
        <div class="main-container">
            <article class="full-article">
                <header class="article-header">
                    <h1>{{ .Title }}</h1>
                </header>
                <footer class="article-footer">
                    <div class="article-meta">
                        <div class="publication-info">
                            <div class="tags">
                                {{ range .Params.tags }}
                                <a href="/tags/{{ . | urlize }}" class="footer-tags-item">{{ . }}</a>
                                {{ end }}
                                <div class="publication-details">
                                    {{ if eq .Params.author "Félix" }}
                                        <img src="/felix.png" alt="Félix" class="author-profile-picture">
                                    {{ else if eq .Params.author "Mickael" }}
                                        <img src="/mickael.png" alt="Mickael" class="author-profile-picture">
                                    {{ end }}
                                    Publié par {{ .Params.author }} le <time class="date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | dateFormat "02 January 2006" }}</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <div class="article-content">
                    {{ .Content }}
                </div>
            </article>
            <!-- Boutons Précédent et Suivant -->
            <div class="bouton-navigation-single">
                {{ if .NextInSection }}
                <div class="navigation-next">
                    <a href="{{ .NextInSection.RelPermalink }}" class="navigation-button">Suivant</a>
                    <a href="{{ .NextInSection.RelPermalink }}" class="title-next">{{ .NextInSection.Title }}</a>
                </div>
                {{ else }}
                <div class="navigation-placeholder"></div>
                {{ end }}
                {{ if .PrevInSection }}
                <div class="navigation-prev" style="text-align: right;">
                    <a href="{{ .PrevInSection.RelPermalink }}" class="navigation-button">Précédent</a>
                    <a href="{{ .PrevInSection.RelPermalink }}" class="title-previous">{{ .PrevInSection.Title }}</a>
                </div>
                {{ else }}
                <div class="navigation-placeholder"></div>
                {{ end }}
            </div>
            <!-- Fin Boutons Précédent et Suivant -->
        </div>
    {{ end }}
</div>
<div id="mobile-view" class="view" style="display: none;">
    <!-- Code pour les articles avec le tag 'Actu' sur mobile -->
    <div class="main-container-mobile">
        <article class="full-article">
            <header class="article-header">
                <h1>{{ .Title }}</h1>
            </header>
            <footer class="article-footer">
                <div class="article-meta">
                    <div class="publication-info">
                        <div class="tags">
                            {{ range .Params.tags }}
                            <a href="/tags/{{ . | urlize }}" class="footer-tags-item">{{ . }}</a>
                            {{ end }}
                            <div class="publication-details">
                                {{ if eq .Params.author "Félix" }}
                                    <img src="/felix.png" alt="Félix" class="author-profile-picture">
                                {{ else if eq .Params.author "Mickael" }}
                                    <img src="/mickael.png" alt="Mickael" class="author-profile-picture">
                                {{ end }}
                                Publié par {{ .Params.author }} le <time class="date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | dateFormat "02 January 2006" }}</time>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="article-content">
                {{ .Content }}
            </div>
           
            <!-- Boutons Précédent et Suivant -->
            <div class="bouton-navigation-single">
                {{ if .NextInSection }}
                <div class="navigation-next">
                    <a href="{{ .NextInSection.RelPermalink }}" class="navigation-button">Suivant</a>
                    <a href="{{ .NextInSection.RelPermalink }}" class="title-next">{{ .NextInSection.Title }}</a>
                </div>
                {{ else }}
                <div class="navigation-placeholder"></div>
                {{ end }}
                {{ if .PrevInSection }}
                <div class="navigation-prev" style="text-align: right;">
                    <a href="{{ .PrevInSection.RelPermalink }}" class="navigation-button">Précédent</a>
                    <a href="{{ .PrevInSection.RelPermalink }}" class="title-previous">{{ .PrevInSection.Title }}</a>
                </div>
                {{ else }}
                <div class="navigation-placeholder"></div>
                {{ end }}
            </div>
        </article>
    </div>
</div>


{{ end }}
