<!-- layouts/partials/calendrier.html -->
{{ $filePath := "content/pages_divers/Calendrier.md" }}
{{ $fileContent := readFile $filePath }}

<div class="sidebar-top-content">
  <div class="telex-header">
    <span class="sidebar-button-jouons">
      <img src="/Pac-Man.png" alt="Icon Left" class="telex-icon left-icon">
      <b>Sorties</b>
      <img src="/Pac-Man-2.png" alt="Icon Right" class="telex-icon right-icon">
    </span>
  </div>
  
  <div class="brieves-container">
    {{ if $fileContent }}
      {{ $cleanContent := replaceRE "(?s)\\+\\+\\+.*?\\+\\+\\+" "" $fileContent }}
      {{ $markdownContent := $cleanContent | markdownify }}
      {{ $markdownContent | safeHTML }}
    {{ else }}
      <p>Le fichier Calendrier.md n'a pas été trouvé ou est vide.</p>
    {{ end }}
  </div>
</div>
