<header class="Heading">
  <div style="display: flex; flex-direction: column; align-items: flex-start;">
    <h2 class="Heading-title">
      <a class="Heading-link u-clickable" href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
    </h2>
    {{ with .PublishDate | default nil }}
      <time datetime="{{ time.Format "2006-01-02T15:04:05Z07:00" . }}" style="margin-top: 10px;">
        {{- time.Format ":date_long" . -}}
      </time>
    {{ end }}
  </div>
</header>
<footer>
  {{ with .Params.author }}
    <p class="author">Par : <em>{{ . }}</em></p>
  {{ end }}
</footer>
