<script>
document.addEventListener("click", function(event) {
  var target = event.target.closest("a");
  if (!target || !target.href) return; // Assurez-vous qu'un lien a été cliqué

  // Vérifie si le lien est interne
  if (target.href.startsWith(location.origin)) {
    event.preventDefault(); // Empêche la navigation par défaut
    window.location.href = target.href; // Navigue vers le lien interne
  } else if (target.href.startsWith("http://") || target.href.startsWith("https://")) {
    // Gère les liens externes ici, si nécessaire
  }
});

</script>
