<div class="sidebar-top-content">
    <a href="http://fr.ulule.com/nostick/" target="_blank" style="display: block; text-decoration: none;">
        <div class="bordered-container" style="background-color: #663398; padding: 15px; border: none; display: flex; align-items: center;">
            <img src="/NS_STARS.png" alt="NS Stars" style="width: 40%; border-radius: 10px; margin-right: 15px;">
            <div style="color: white; flex: 1;">
                <p style="font-weight: bold; text-align: center; margin-top: 0; font-size: 0.9rem;">Donnez des sous à notre projet Ulule et devenez une Super Star Nostick !</p>
                <p style="text-align: center; font-size: 0.8rem; font-weight: normal; margin-top: 5px;">À partir de 3 € par mois (sans engagement). Aidez-nous à améliorer Nostick !</p>
            </div>
        </div>
    </a>
</div>
