<div class="sidebar-top-content">
    <a href="http://fr.ulule.com/nostick/" target="_blank" style="display: block; text-decoration: none;">
        <div class="bordered-container" style="background-color: #663398; padding: 15px 15px 15 15px; border: none;">
            <p style="color: white; font-weight: bold; text-align: center; margin-top: 0;">Donnez des sous à notre projet Ulule…</p>
            <img src="/NS_STARS.png" alt="NS Stars" style="width: 100%; border-radius: 10px 10px 0 0; margin-bottom: 15px;">
            <p style="color: white; text-align: center; margin-top: 0; margin-bottom: 0;">… et devenez une Super Star Nostick !</p>
        </div>
    </a>
</div>
