<!-- Bloc du carousel pour les articles de type 'une' -->
<div class="carousel-container">
  {{ $uneArticles := where .Site.RegularPages "Params.type" "une" }} <!-- Filtrer les articles de type 'une' -->
  {{ $recentUneArticles := first 6 (sort $uneArticles "Date" "desc") }} <!-- Sélectionner les 6 derniers articles -->
  {{ $randomArticle := index (shuffle $recentUneArticles) 0 }} <!-- Choisir un article au hasard -->

  {{ with $randomArticle }}
  <div class="carousel-item">
    <a href="{{ .Permalink }}" class="carousel-link">
      <img src="{{ .Params.image }}" alt="{{ .Title }}" class="carousel-image">
      <div class="carousel-content">
        <h2 class="carousel-title">{{ .Title }}</h2>
        <p class="carousel-summary">{{ partial "cleanSummary.html" . }}</p> <!-- Utiliser la fonction personnalisée -->
      </div>
    </a>
  </div>
  {{ end }}
</div>
