<div class="sidebar-top-content">

  <div class="telex-header" style="margin-bottom: 20px;">
    <span class="sidebar-button-jouons">
      <img src="/MEGAMAN.png" alt="Icon Left" class="telex-icon-megaman left-icon-megman">
      <b>À la une</b>
    </span>
  </div>

  <div class="brieves-container">
    {{ $xxlArticles := first 3 (where .Site.RegularPages "Params.type" "une") }}
    {{ range $xxlArticles }}
    <div class="brieve-title">
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="brieve-image">
        <p>{{ .Title }}</p>
      </a>
    </div>
    {{ end }}
  </div>

</div>
